<form class="form" id="form" submit="#">
  <div class="group">
    <label class="group__label" for="title">Project title:</label>
    <input
      type="text"
      class="group__input"
      id="title"
      name="title"
      placeholder="Title"
      required
      maxlength="100"
      ng-model="title"
      ng-blur="c.validateTitle(title)"
    />
  </div>
  <p class="title__error">Please enter valid Title!</p>
  <div class="form__actions">
    <button
      class="form__btn submit"
      title="Submit form data"
      type="submit"
      ng-click="c.createPoker(title)"
    >
      Submit
    </button>
    <button
      ng-click="c.closeModal()"
      class="form__btn cancel"
      title="Cancel form submission"
      type="button"
    >
      Cancel
    </button>
  </div>
</form>

<!--TODO
    - Add actions for both buttons
    - Add validation for value
-->
